html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, del, dfn, em, img, ins, kbd, q, samp, small, strong, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, footer, header, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
a:hover, a:active {
	outline: none;
}
select, input, textarea, button {
	font: 99% sans-serif;
}
input, select {
	vertical-align: middle;
}
ul, ol, li {
	list-style: none;
}
img {
	border: 0;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}
.nocallout {
	-webkit-touch-callout: none;
} /* prevent callout */
table {
	margin: 0;
	padding: 0;
	clear: left;
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}
table td {
	vertical-align: top;
	margin: 0;
}
html {
	height: 100%;
}
body {
	font: 13px/1.4 sans-serif;
*font-size: small;
	word-wrap: break-word;
	margin: 0 auto;
	-webkit-text-size-adjust: none;
	color: #3c3c3c;
	font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
	height: 100%;

}
a {
	color: #51aded;
	text-decoration: none;
}
p {
	margin-bottom: 1em;
}
.box-163css {
	width: 100%;
	position: relative;
	height: 380px;
}
.wrapper, .wrapper2 {
	position: absolute;
	z-index: 1;
	top: 13px;
	bottom: 0;
	left: -3px;
	width: 100%;
	background: #FFF;
}
.scroller {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
}
.scroller ul {
	width: 100%;
	text-align: left;
}
.scroller li {
	border: 1px solid #eaeaeb;
	border-radius: 5px;
	margin: 10px 15px 10px 15px;
	padding: 5px 5px 5px 5px;
	background-color: #f2f2f3;
	font-size: 16px;
	width: 89%;
	float: left; 	
	box-shadow:inset 2px 2px 1px 2px #efeeee;
   -webkit-box-shadow: inset 2px 2px 1px #efeeee;
   -moz-box-shadow: inset 2px 2px 1px #efeeee;
}
.scroller li img {
	float: left;
	height: 79px;
}
.img-container{
	display:block;
	float:left;
	width:79px;
	overflow:hidden;
}
.scroller li span.item-title {
	display:block;
	float:left;
	padding: 10px 0 0 10px;
	width: 50%;
	font-size: 14px;
	color: #0c8cb5;
}
.scroller li p {
	font-size: 12px;
	color: #666;
	padding-left: 2px;
}
